[Unit]
Description=Fim image viewer
After=network.target

[Service]
Type=simple
ExecStartPre=dd if=/dev/zero of=/dev/fb0 bs=4096kB count=1
ExecStart=/usr/bin/fim -c \';\' -f /etc/fimrc -d /dev/fb0
ExecStopPost=dd if=/dev/zero of=/dev/fb0 bs=4096kB count=1
Restart=always

[Install]
WantedBy=multi-user.target
